services:
  nginx:
    image: nginx:alpine
    container_name: secure-crud-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    networks:
      - private_net
    restart: always

  app:
    build: .
    container_name: secure-crud-app
    env_file:
      - .env
    depends_on:
      - mongo
    networks:
      - private_net
    restart: always

  mongo:
    image: mongo:6.0
    container_name: secure-crud-mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - private_net
    restart: always

volumes:
  mongo_data:

networks:
  private_net:
    driver: bridge
